{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "14"
          }
        } 
      ]  , ["@babel/preset-react"]
    ], 
   
  
    "plugins": [
      ["@babel/plugin-transform-react-jsx", {
        "runtime": "automatic"
      }],
      "add-module-exports",
      [
        "inline-dotenv",
        {
          "path": "./.env.production",
          "unsafe": true
        }
      ]
    ]
  }