
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    background-color:rgba(139, 133, 77, 0.9) ;
    font-weight: 700;
}

img{
    border-radius: 1px;
    width: 150px;
    height: 100px;
    scale: 70%;
    transition: 1s;
}

.card:hover{
    border: 2px solid rgb(110, 126, 33);
    transform: scale(110%);
}

.button{
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.button:hover{
    border-radius: 30px;
}

