


.countryStats{
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 2fr));
    grid-gap: 1rem;
    width: fit-content;
    margin-left: 4rem;
    border-radius: 50px;
    padding: 20px 70px;
    background-color:rgba(31, 29, 17, 0.7) ;
}

.countryActivities{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-gap: 1rem;
    width: fit-content;
}